{% extends 'base.html' %}
{% load gravatar %}
{% load humanize %}
{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}
{% load static %}
{% block stylesheet %} 

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

<link  href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" >
{% endblock stylesheet %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Domain</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
</div>
<table class="table table-striped mb-4">
  <thead class="thead-inverse">
    <tr>
      <th>Topic</th>
      <th>Starter</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topics %}
    {% url 'topic_posts' board.pk topic.pk as topic_url %}
      <tr id='b'>
        <td>
          <p class="mb-0">
            <a href="{{ topic_url }}">{{ topic.subject }}</a>
          </p>
          <small class="text-muted">
            Pages:
            {% for i in topic.get_page_range %}
              <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if topic.has_many_pages %}
            ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
            {% endif %}
          </small>
        </td>
        <td><a href="{% url 'topic_posts' board.pk topic.pk %}">{{ topic.subject }}</a></td>
        <td>{{ topic.starter.username }}</td>
        <td>{{ topic.replies }}</td>
        <td>{{ topic.views }}</td>
        <td>{{ topic.last_updated|naturaltime }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    <!-- just leaving it empty for now. we will add core here soon. -->
    {% include 'includes/pagination.html' %}
{% endblock %}
