body {
  background-image: url(../img/bg_ac.png);
}


.logo {
  font-family: "Peralta", cursive;
}

.logo a {
  color: rgba(26, 29, 27, 0.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
